{{ define "block" -}}
{{ $type := .Type }}{{ $type }} {{- if .Label }} "{{ .Label }}"{{- end }} {
  {{- range $index, $item := .Parameter }}
  {{- if eq $type "template" }}
  {{ $item | getValue $type -}}
  {{ else }}
  {{ $item | getValue "" }}
  {{- end }}
  {{- end }}

  {{- range $index, $item := .Block }}
  {{ "\n" }}
  {{- include "block" . | indent 2 }}
  {{- end }}
}
{{- end }}